
<div class="container">

<h4>Bem vindo, Admin.</h4>
<hr />
<a href="@Url.Action("Index", "Usuarios")" class="btn btn-outline-secondary">Funcionário</a>
<a href="@Url.Action("Index", "Wbs")" class="btn btn-outline-secondary">WBS</a>
<a href="@Url.Action("Index", "Departamentos")" class="btn btn-outline-secondary">Departamento</a>

</div>

